body {
  font-size: 0.8rem;;
}

.section {
  font-size: 1.1rem;
  font-weight: bold;
}

.section-content {
  padding-bottom: 10px;
}

.personal {

  .name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .introduction {
    padding-bottom: 3px;
  }
}

.contact {
  .address, .phone, .email, .link {
    padding: 3px;
  }
}

.skillset {
  padding-top: 4px;
  padding-bottom: 4px;
}

.skillcategory {
  font-weight: bold;
}

.workhistory {
  padding-bottom: 5px;

  .title {
    font-size: 1rem;
    font-weight: bold;
  }

  .company {
    font-size: 0.9rem;
  }

  .company-name {
    font-style: italic;
  }

  .workperiod {
    padding-left: 2px;
  }
}

.university .name {
  font-weight: bold;
}

.certificate {
  font-weight: bold;
  padding-top: 4px;
}

.container {
  display: flex; /* Enables flexbox layout for children */
  gap: 15px; /* Adds space between columns */
}

.header-main {
  flex: 2;
  background-color: #fff;
  padding: 15px;
}

.header-side {
  flex: 1; /* Takes 3 parts of available space (e.g., 75%) */
  background-color: #fff;
  padding: 15px;
}


.column-side {
  flex: 1; /* Takes 3 parts of available space (e.g., 75%) */
  background-color: #eee;
  padding: 15px;
}

.column-main {
  flex: 3;
  background-color: #fff;
  padding: 15px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column; /* Stacks columns vertically on small screens */
  }
}

@media print {
    @page {
        size: Letter;
        margin: 1cm;
    }
}